<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div>
  <form name="f" th:action="@{/login}" method="post">
    <fieldset>
      <legend>Войти</legend>
      <label for="user">Имя</label>
      <input type="text" id="user" name="user"/>
      <label for="pass">Пароль</label>
      <input type="password" id="pass" name="pass"/>
      <div class="form-actions">
        <button type="submit" class="btn">Войти</button>
      </div>
    </fieldset>
  </form>
</div>
</body>
</html>