<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>
<!--<label><input type="checkbox" />Option 1</label>-->
    <form th:action="@{/admin/new}" th:method="post" th:object="${user}">
        <fieldset>
        <label for="name">Name:</label>
        <input type="text" th:field ="*{name}" id="name"/>
        <br/>
        <label for="lastname">Last Name:</label>
        <input type="text" th:field ="*{lastName}" id="lastname"/>
        <br/>
        <label for="age">Age:</label>
        <input type="text" th:field ="*{age}" id="age"/>
        <br/>
        <label for="password">Password:</label>
        <input type="text" th:field ="*{password}" id="password"/>
        <br/>
        <label> Admin
            <input type="checkbox" th:name="roleAdmin" th:value="ROLE_ADMIN">
        </label>
        <br/>
        </fieldset>
        <input type="submit" value="Add User">
    </form>

<form th:action="@{/logout}" >
    <input type="submit" value="Logout"/>
</form>

</body>
</html>