<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>users</title>
</head>
<body>
<p>AllUsers</p>

<div>
    <table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>last name</th>
            <th>age</th>
        </tr>

    <th:block th:each="user : ${allusers}">
        <tr>
        <td th:text="${user.getId()}"></td>
<!--        <td th:text="${user.getName()}"></td>-->
            <td>
                <a th:text="${user.getName()}" th:href="@{/{id}(id=${user.id})}">user</a>
            </td>
        <td th:text="${user.getLastName()}"></td>
        <td th:text="${user.getAge()}"></td>

            <td>
                <a th:href="@{/admin/{id}/edit(id=${user.id})}">edit</a>
            </td>
            <td>
                <form th:method="DELETE" th:action="@{/admin/users/{id}(id=${user.getId()})}">
                    <input type="submit" value="Delete"/>
                </form>
            </td>
            <td th:each="rol: ${user.getRoles()}">
                <a th:if="(${rol.getRole()} == 'ROLE_ADMIN')" th:text="Admin"></a>
            </td>
        </tr>
    </th:block>

    </table>
</div>

<a th:href="@{/admin/new}">Add new user</a>

<form th:action="@{/logout}" >
    <input type="submit" value="Logout"/>
</form>

</body>
</html>